@import '../../colors.scss';

.aboutUs{
    .cardsSection{
        padding: 1rem 2rem;
        margin-top: 1rem;
        .header{
            font-size: 2.5rem;
            font-weight: 600;
            // text-align: left;
            padding: 0 2rem;
            margin-bottom: 2rem;
            color: $secondaryColor;
        }
        .row{
            justify-content: center;
            .cardArea{
                padding: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}