@import '../../colors.scss';

.aboutUs{
    padding: 0.5rem 0;
    .cardsSection{
        padding: 1rem 2rem;
        margin-top: 1rem;
        .header{
            font-size: 2rem;
            font-weight: 600;
            // text-align: left;
            padding: 0 2rem;
            margin-bottom: 2rem;
            color: $secondaryColor;
        }
        .row{
            justify-content: center;
            .cardArea{
                padding: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }
    }
    .companyOverview{
        width: 100%;
        // height: 30rem;
        position: relative;
        z-index: 1;
        // overflow: hidden;
        padding: 6rem 4rem;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: url("../../office.png") center / cover no-repeat;
            opacity: 0.2; 
            z-index: -1;
        }
        .about{
            text-align: left;
            color: $secondaryColor;
            .title{
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }
            .subtitle{
                font-size: 1.4rem;
            }
        }

    }
    .mission{
        padding: 2rem 4rem;
        align-items: center;
        text-align: left;
        position: relative;
        .info{
            margin-bottom: 2rem;
            padding-right: 2rem;
            .title{
                font-size: 2rem;
                margin-bottom: 1rem;
                font-weight: 600;
                color: $accentColor;
            }
            .data{
                font-size: 1.4rem;
                color: $secondaryColor;

            }   
        }
        
        .image{
            img{
                width: 100%;
            }
        }

        &:after{
            position: absolute;
            bottom: 0;
            left: 10%;
            background: $secondaryColor;
            height: 1px;
            width: 80%;
            content: "";
        }
    }
}