@import "../../colors.scss";

.singleCard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    // box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.5);
    // background: $secondaryColor;
    .image{
        width: 5rem;
        height: 5rem;
        // margin-right: 2rem;
        margin-bottom: 1rem;
        background: $secondaryColor;
        border-radius: 50%;
        font-size: 4rem;
        color: $accentColor;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    .data{
        text-align: left;
        display: flex;
        flex-direction: column;
        text-align: center;
        .name{
            font-size: 1.6rem;
            font-weight: 600;
            // margin-bottom: 0.5rem;
            color: $secondaryColor;

        }
        .role{
            font-size: 1.4rem;
            color: $accentColor;
        }
    }
}