@import "../../colors.scss";

.contactUs{
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    > .row{
        width: 100%;
    }
    .form{
        .formInputs{
            .title{
                font-size: 1.4rem;
                font-weight: 600;
                color: $secondaryColor;
                text-align: left;
                margin-bottom: 1.5rem;
            }
            .row{
                margin-bottom: 1rem;
            }
            .MuiTextField-root, .MuiButtonBase-root{
                width: 100%;
            }
            button{
                padding: 14px;
            }
        }
    }

    .map{
        .mapImage{
            width: 100%;
            height: 420px;
            object-fit: cover;
            cursor: pointer;
        }
        .contactInfo{
            margin-top: 1.5rem;
            color: $secondaryColor;
            text-align: left;
            
            div{
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                span{
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                        color: $accentColor;
                    }
                }
            }
            svg{
                color: $accentColor;
                font-size: 1.5rem;
                margin-right: 0.5rem;
            }
        }
    }
}

@media (max-width: 1080px) {
    .contactUs{
        padding: 2rem 1rem;
        // .col-md-6:first-of-type{
        //     margin-bottom: 1rem;
        // }
    }
}

@media (max-width: 767px) {
    .contactUs{
        .col-md-6:first-of-type{
            margin-bottom: 1rem;
        }
    }
}

// @media (max-width: 991px) {
//     .contactUs{
//         justify-content: center;
//     }
// }