@import "../../colors.scss";

.appHeader{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 2rem;
    margin: 0 1rem;
    // background: $secondaryColor;
    // border-radius: 10px;
    position: relative;
    &::after{
      position: absolute;
      content: "";
      width: 96%;
      bottom: 0;
      left: 2%;
      height: 1px;
      // box-shadow: 0px 0px 15px 2px rgba(230, 226, 124, 0.5);
      border-radius: 5px;
      background: $secondaryColor;


    }
    

    + div{
      min-height: 76.8vh;
    }

    .menu{
        display: flex;
        width: 40%;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;
        padding-right: 4rem;
        .menuItem{
            cursor: pointer;
            color: $secondaryColor;
            font-weight: 600;
            &:hover{
                color: $accentColor;
            }
            &.activePage{
                color: $accentColor;
                
            }
        }
        
        
    }
    .menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px; 
        height: 25px; 
        background: transparent;
        border: none;
        cursor: pointer;
      
        div {
          width: 30px; 
          height: 3px; 
          background-color: $accentColor; 
          transition: all 0.3s ease;
          border-radius: 3px;
           &:hover{
                background-color: $accentHover;
            }
        }
      
        &.open {
          .bar1 {
            transform: rotate(-45deg) translate(-6px, 6px);
          }
      
          .bar2 {
            opacity: 0;
          }
      
          .bar3 {
            transform: rotate(45deg) translate(-6px, -6px);
          }
        }
      }
}

.logoArea{
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // padding: 1rem 4rem 2rem;
  cursor: pointer;
    img{
      height: 6rem;
      &:last-of-type{
        height: 2.5rem;
        margin-left: 1rem;
      }
    }
  
  .name{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: $secondaryColor;
  }
}


@media (max-width: 1080px) {
    .appHeader{
        .menu{
            width: 60%;
        }
    }
}