@import "../../colors.scss";

.appHeader{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 1rem;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.15);
    border-radius: 10px;

    + div{
      min-height: 73.6vh;
    }

    .menu{
        display: flex;
        width: 40%;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;
        .menuItem{
            cursor: pointer;
            color: $secondaryColor;
            font-weight: 600;
            &:hover{
                color: $accentColor;
            }
            &.activePage{
                color: $accentColor;
                
            }
        }
        
    }
    .menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px; 
        height: 25px; 
        background: transparent;
        border: none;
        cursor: pointer;
      
        div {
          width: 30px; 
          height: 3px; 
          background-color: $accentColor; 
          transition: all 0.3s ease;
          border-radius: 3px;
           &:hover{
                background-color: $accentHover;
            }
        }
      
        &.open {
          .bar1 {
            transform: rotate(-45deg) translate(-6px, 6px);
          }
      
          .bar2 {
            opacity: 0;
          }
      
          .bar3 {
            transform: rotate(45deg) translate(-6px, -6px);
          }
        }
      }
}

.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem 2rem;
  .image{
    img{
      height: 4rem;
    }
  }
  .name{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: $secondaryColor;
  }
}


@media (max-width: 1080px) {
    .appHeader{
        .menu{
            width: 60%;
        }
    }
}