@import "../../colors.scss";

.footer{
    height: 2rem;
    border-top: 1px solid $secondaryColor;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: $secondaryColor;

    svg{
        margin-right: 0.5rem;
    }
}