$primaryColor:#ffffff;
$secondaryColor: #384d3a;
$shadowColor:#cacaca;
$hoverColor:#214018;
$accentColor:#ad894d;
$accentHover:#907443;

$secondBackground:#04260f;

$green1:#0d6c29;
$green2:#0a5721;
$green3:#094c1d;
$green4:#074018;
$green5:#063a16;
$green6:#04260f;
