@import './colors.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiDrawer-root .MuiPaper-root{
  background: $primaryColor;
  color: $secondaryColor;
  .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    .menuItem{
      cursor: pointer;
      margin-bottom: 1rem;
      &:hover{
                color: $accentColor;
            }
            &.activePage{
                color: $accentColor;
                
            }
    }
  }
}
