@import '../../colors.scss';

.homePage{
    padding-top: 2rem;
    .videoSection{
        
        position: relative;
        .videoArea{
            background: $secondaryColor;
            width: 100%;
            height: 25rem;
            opacity: 0.2;
            overflow: hidden;
            video {
                width: 100%;
                height: 100%;
                object-fit: cover; 
            }
        }
        .mainIntro{
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 4rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
            width: 100%;
            height: 100%;
            color: $secondaryColor;

            .title{
                font-size: 1.8rem;
                margin-bottom: 0.5rem;
                font-weight: 600;
            }

            .subtitle{
                font-size: 1.4rem;
                margin-bottom: 0.5rem;
            }

            .learnMore{
                font-size: 1.2rem;
                cursor: pointer;
                &:hover{
                    color: $accentColor;
                    text-decoration: underline;
                }
            }

        }
    }

    .faq{
        padding: 2rem;
        position: relative;
        &::after{
            position: absolute;
            left: 5%;
            bottom: 0;
            width: 90%;
            content: "";
            height: 1px;
            background: $secondaryColor;
        }

        .title{
            color: $secondaryColor;
            font-weight: 600;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        .questionSection{
            justify-content: center;
            .questionItem{
                margin-bottom: 1rem;
                .MuiPaper-root , .MuiAccordionSummary-expandIconWrapper{
                    background-color: $secondaryColor;
                    color: $primaryColor;
                }
                .MuiAccordionSummary-content .MuiTypography-root{
                    // font-weight: 600;
                    font-size: 1.4rem;
                }
                .MuiCollapse-root{
                    .MuiAccordionDetails-root{
                        text-align: left;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .promo{
        padding: 4rem;
        display: flex;
        justify-content: center;
        position: relative;
        .row{
            display: flex;
            align-items: center;
            // background: $secondaryColor;
            // width: 60%;
            // border-radius: 10rem;
        }
        .image{
            // width: 100%;
            padding: 0;
            // display: flex;
            // justify-content: flex-start;
            img{
                // width: 80%;
                border-radius: 50%;
                height: 20rem;
            }
        }
        .info{
            padding-left: 2rem;
            text-align: left;
            .title{
                font-size: 1.6rem;
                color: $accentColor;
                margin-bottom: 1rem;
            }
            .content{
                font-size: 1.2rem;
                color: $secondaryColor;
            }
        }
        &::after{
            position: absolute;
            left: 5%;
            bottom: 0;
            width: 90%;
            content: "";
            height: 1px;
            background: $secondaryColor;
        }
    }

    .reviews{
        padding: 2rem;
        
        .title{
            color: $secondaryColor;
            font-weight: 600;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        .reviewSection{
            justify-content: center;
            .revItem{
                margin-bottom: 1rem;
                .revItemContainer{
                    border: 1px solid $secondaryColor;
                    border-radius: 10px;
                    height: 100%;
                    // width: 90%;
                    display: flex;
                    padding: 1rem;
                    // align-items: center;
                    .image{
                        width: 5rem;
                        height: 5rem;
                        // margin-right: 2rem;
                        margin-right: 1.5rem;
                        background: $secondaryColor;
                        border-radius: 50%;
                        font-size: 4rem;
                        color: $accentColor;
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                        overflow: hidden;
                    img{
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                    }
                    }
                    .revData{
                        width: 75%;
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        .top{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 0.5rem;
                            .name{
                            font-size: 1.4rem;
                            color: $accentColor;
                            font-weight: 600;
                            }
                            .stars{
                                color: $secondaryColor;
                                .colorStar{
                                    color: $accentColor;
                                }
                            }
                        }
                        
                        .review{
                            color: $secondaryColor;
                            // margin-bottom: 0.5rem;
                        }
                    }

                }
                
            }
        }
    }

}


@media (max-width: 991px) {
.homePage .promo{
       
        .info{
            text-align: center;
            
        }
        
    }
}